<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:style="http://www.w3.org/1999/xhtml"
      xmlns:padding-left="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Infor-Retail Service Health Dashboard</title>
    <!--BootStrap Plugins -->
    <link href="http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100" rel="stylesheet"  type='text/css'/>
    <link th:href="@{/css/bootstrap/bootstrap.min.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/css/main.css}" type="text/css" rel="stylesheet"/>

</head>
<body>
<div class="jumbotron">
    <div class="banner">
        <a th:href="@{http://www.inforretail.com/}">
            <img th:src="@{/images/inforretail.png}"/>
        </a>
        <h2>Service Health Dashboard</h2>
    </div>
</div>
<table class="table table-bordered" id="t">
    <tr align="center" class="thead">
        <td>Name</td>
        <td>Health</td>
        <td>Details</td>
        <td>Date</td>
    </tr>
    <tr class="tbody" th:each="service : ${services}">
        <td align="left" id="col_1" th:text="${service.getServiceName()}"></td>
        <div th:if="${service.getResponseCode() == 200}">
            <td align="center"><img th:src="@{/images/check.gif}"/></td></div>
        <div th:if="${service.getResponseCode() != 200}">
            <td align="center"><img th:src="@{/images/x.png}"/></td></div>
        <div th:if="${service.getResponseCode() == 200}">
            <td>Service is operating normally</td></div>
        <div th:if="${service.getResponseCode() != 200}">
            <td>Performance Issues</td></div>
        <td th:text="${dateTime}"></td>
        <div th:if="${service.getSubService() != null}">
            <tr class="nested">
                <td th:text="${service.getSubService()}" colspan="4"></td>
            </tr>
        </div>
    </tr>
</table>
<div class="ft">
    <img th:src="@{/images/slogan.png}"/>
</div>
</body>
</html>